.nav-a{
	font-size: 22px;
	color: #3D58A6;
	text-decoration: none;

}
.nav-a-active{
	color: #EE4036;
}
.a{
	display: inline-block;
	vertical-align: middle;
	margin-right: 50px;
}
.h3{
	font-size: 20px;
	margin: 17px;
	margin-left: 30px;
	font-family: "fonts.css", sans-serif;
}
img{
	margin-right: 40px;
	vertical-align: middle;
	margin-left: 10px;

}
.div{
	display: inline-block;
	width: 930px;
	vertical-align: middle;
	font-family: "bpg-nino-mtavruli", sans-serif;
}

.title-adition{
	font-size: 24px;
	margin-bottom: 30px;
}
.left-block, .right-block{
	width: 500px;
	height: 230px;
	background-color: #707070;
	display: inline-block;
	vertical-align: middle;
	/*padding: 20px 30px 40px;*/
}

/*.left-block h4{
	padding: 40px;
}*/

.right-block{
	margin-left: 26px;
}
.conteiner{
	width: 1170;
	margin: 0 100px;


}
h4{
	margin-bottom: 13px;
	font-size: 22px;
	color: #3D58A6;	
}
img{
	vertical-align: middle;
	margin-right: 40px ;
}
.p{
	display: inline-block;
	width: 330px;
	vertical-align: middle;
	color: #333333;
	font-size: 15px;
	line-height: 15px;
}
footer{
	margin-top: 50px;
	margin-right: 30px;
	margin-bottom: 10px;
}
.contact-block{
	margin: 111px 1018px 421px 97px;
	line-height: 23px;
	font-family: 'Roboto', sans-serif;


}
.contact-info{
	color: #3D58A6;
	font-size: 20px;
	font-weight: bold;
}
.span-info{
	color: #808080;
	font-size: 16px;
}
.background-color{
	background-color: #E6E6E6;

}
.border{
	width: 100%;
	height: 570px;
	background-color: #F2F2F2;
	display: inline-block;
	margin-top: 11px;
	margin-bottom: 33px;
	padding-top: 39px;
}
.map{
	display: inline-block;
	width: 849px;
	height: 464px;
	vertical-align: top;
}


